<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="js/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="js/jqwidgets/styles/jqx.summer.css" type="text/css" />

    <script type="text/javascript" src="js/jqwidgets/jquery-1.11.1.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="js/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="js/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="js/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="js/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="js/jqwidgets/jqxdata.js"></script>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Sessions You Will Attend</h1>
            <div  id='ListBox'/>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    <script type="text/javascript">
      sess = JSON.parse('<%- sessions %>')

      // Create a ListBox.
      $("#ListBox").jqxListBox({ source: sess, checkboxes: true, width: '90%', height: '70%', theme: 'summer'});
      $("#ListBox").on('checkChange', function (event) {
          var args = event.args;
          // get new check state.
          var checked = args.checked;
          // get the item and it's label and value fields.
          var item = args.item;
          var itemLabel = item.label;
          var itemValue = item.value;
          // get all checked items.
          var checkedItems = $("#ListBox").jqxListBox('getCheckedItems');
          console.log('checkedItems:', checkedItems)
      });
    </script>
</body>
</html>
