<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">

                <div class="jumbotron">
                    <h1>Useful Resources</h1>
                    <p></p>
                    <ul>
                      <li><a href="http://usergrid.incubator.apache.org/">Apache Usergrid</a>
                      <li><a href="http://apigee.com/docs/api-services/content/apigee-127">Apigee 127</a>
                      <li><a href="https://github.com/leeatapigee/">Github sources</a>
                    </ul>
                </div>

            </div>
            <div class="col-sm-4">

                <div class="well">
                    <h5>I hope you found this session worthwhile!</h5>
                </div>

            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
